.fname {
    background-color:yellow;
    content:black;
}
.lname{
    background-color:yellow;
    content:black;
}
.integer{
    background-color:yellow;
    content:black;
}
.box{
    background-color:red;
}

.label{
    background-color:yellow;
    content:black;
}